<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fun Catelog</title>
</head>

<body>

<h1>My Favorite Sports Catelog</h1>


{% for i in category %}

<div>

	<a href='{{url_for('ItemPage', category_id = i.id) }}'>{{i.name}}</a>

	</br>

	<a href='{{url_for('editCategory', category_id = i.id) }}'>Edit</a>

	</br>

	<a href = '{{url_for('deleteCategory', category_id = i.id) }}'>Delete</a>

	</br></br>

</div>


{% endfor %}

</br>

<a href='{{url_for('newCategory') }}'>Add a New Category</a>

{% block content %}
{% endblock content %}

</body>

</html>